<div class="fill-conteiner">
    <div class="main-container2">
        <div class="loading-container" style="max-width:@(MaxWidth)px;">
            <div class="loading-text" style="@_style">
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">L</span>
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">O</span>
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">A</span>
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">D</span>
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">I</span>
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">N</span>
                <span style="min-height:@(FontPalceHeight)px; display:flex; flex-direction:column; justify-content:flex-end; ">G</span>
            </div>
        </div>
    </div>
</div>

