@inherits LayoutComponentBase


@using CineSync.Components.Navs;
@using CineSync.Data;

<div class="page">

    <NavBar HasSearch="@_hasSearch" User="@AuthenticatedUser"></NavBar>

    <div class="pageRow">

        <div class="sidebar" >
            <Menu User="@AuthenticatedUser" />
        </div>
        <div class="bodyCoteiner">
            @Body
        </div>

    </div>

</div>