@inherits LayoutComponentBase

<div class="page">
     <div class="sidebar" style="@IconMenuCssClass">
        <Menu ShowIconMenu="ToggleIconMenu" />
    </div>
    @Body
</div>

@code{
    private bool _iconMenuActive { get; set; }
    private string? IconMenuCssClass => _iconMenuActive ? "width: 80px;" : null;

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }
}