@inherits LayoutComponentBase

@using CineSync.Components.Navs;
@using CineSync.Data;

<div class="page">

    <NavBar HasSearch="@_hasSearch"  />

    <div class="pageRow">

        <div class="sidebar" >
            <Menu UserRoles="@UserRoles" />
        </div>
        <div class="bodyCoteiner">
            @Body
        </div>

    </div>

</div>
