
.Obverlay {
    display: flex;
    height: 100%;
    background: rgb(0,0,0,0);
    transition: background-color 1s ease;
    width: 100vw;
    pointer-events:none;
}

    .Obverlay.Active {
        background: rgb(0,0,0,0.7);
        z-index: 997;
        opacity: 1;
    }

.MenuMainConteiner {
    height: 100%;
    width: 100px;
    z-index: 998;
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    pointer-events: auto !important;
}

    .MenuMainConteiner.Active {
        width: 15%;
        padding-left: 10px;
        padding-right: 10px;
    }


.menu-item-conteiner{
    width:100%;
   
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem !important;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .menu-item.Active {
        flex-direction: row !important;
        align-items:center;
        justify-content:center;
        height: 50px;
        gap:1.5rem !important;
    }

    .menu-item:hover {
        background-color:rgb(30, 30, 30);
    }

    .menu-item:active {
        background-color: rgb(49, 49, 49);
    }

    .ButtonIcon {
        width: 25px;
        height: 25px;
        color: white;
    }

.ButtonText{
    color:white;
    font-size:13px;
    text-align:center;
}

    .ButtonText.Active {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        height: 100%;
        flex-wrap: wrap;
        text-align: left;
        flex-grow: 1;
        height:25px;
    }

.sidebar-separator {
    background-color: rgb(94, 93, 93);
    height: 2px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.separator-text {
    display: none;
    margin-bottom: 10px;
    margin-left:15px;
}

.separator-text.Active{
    display:flex;
    width:100%;
    color:rgb(255, 255, 255);
    font-size:15px;
    text-align:left;
}


/*.bottom-row {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    text-align: right;
    width: 100%;
    padding-right: 28px;
}

.icon-menu-arrow {
    text-align: right;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
}

@media (max-width: 640px) {
    .bottom-row {
        display: block;
    }
}
.oi--account-login {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M3 0v1h4v5H3v1h5V0zm1 2v1H0v1h4v1l2-1.5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.subway--admin {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='m448 362.7l-117.3-21.3C320 320 320 310.7 320 298.7c10.7-10.7 32-21.3 32-32c10.7-32 10.7-53.3 10.7-53.3c5.5-8 21.3-21.3 21.3-42.7s-21.3-42.7-21.3-53.3C362.7 32 319.2 0 256 0c-60.5 0-106.7 32-106.7 117.3c0 10.7-21.3 32-21.3 53.3s15.2 35.4 21.3 42.7c0 0 0 21.3 10.7 53.3c0 10.7 21.3 21.3 32 32c0 10.7 0 21.3-10.7 42.7L64 362.7C21.3 373.3 0 448 0 512h512c0-64-21.3-138.7-64-149.3'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    padding-right: 10px;
}
.material-symbols--logout-sharp {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 21V3h9v2H5v14h7v2zm13-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.LogoutBTN {
    font-family: Itim;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(90deg, #4892db 0%, #5f00cc 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 752ms;
    transform: translateY(0);
    position: absolute;
    cursor: pointer;
    margin-left: auto;
    left: 25%;
    top:90%;
    width: contain;
}
    .LogoutBTN:hover {
        background: linear-gradient(90deg, #4892db 0%, #5f00cc 100%);
        color: #000000;
        border: solid 2px #0066cc;
    }
.material-symbols--search {
   
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    padding-right:25px;
    position:relative;
}
label{
    position:relative;
    padding-left:25px;
}
.sidebar-separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
.mdi--books {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 18H9a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1v5l2-1.5L14 7V2h5a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2m-2 2v2H5a2 2 0 0 1-2-2V6h2v14z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mdi--heart {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.sidebar-separator~-closed{
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}*/