.page-main-Conteiner {
    background: rgb(33, 23, 57);
    height: 100%;
    overflow-y: auto !important;
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}
.tabs-conteiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    background: linear-gradient( to top, rgba(0,0,0,1), rgba(0,0,0,0) );
    cursor:pointer;
}

h2,p{
    color:white;
}