@page "/admin"

@rendermode InteractiveServer

@using CineSync.Components.Utils
@using CineSync.Components.Comments
@using CineSync.Components.PopUps
@using CineSync.Components.Buttons

<div class="tabs-conteiner">
				<TabButton
					Text="Complaints"
					StartActive=true
					OnActionClick="@(() => {
												TabButtonPermissions.deactivate();
												TabButtonAccountStatus.deactivate();
												Tab=1;
												Console.WriteLine(Tab);
											})"
					@ref=@TabButtonComplaints
				/>

				<TabButton
					Text="Permissions"
					OnActionClick="@(() => {
												TabButtonComplaints.deactivate();
												TabButtonAccountStatus.deactivate();
												Tab=2;
												Console.WriteLine(Tab);
											})"
			   @ref=@TabButtonPermissions />
				<TabButton 
					Text="Account Status"
					OnActionClick="@(() => {
												TabButtonComplaints.deactivate();
												TabButtonPermissions.deactivate();
												Tab=3;
												Console.WriteLine(Tab);
											})"
			   @ref=@TabButtonAccountStatus />
			</div>
@if (Tab == 1)
{
	<h2>Complaints</h2>
	<p>Content for Complaints tab</p>
	StateHasChanged();
}else if(Tab==2){
	<h2>Permissions</h2>
	<p>Content for Permissions tab</p>
	StateHasChanged();
}else if(Tab==3){
	<h2>Account Status</h2>
	<p>Content for Account Status tab</p>
	StateHasChanged();
}


