/*Home CSS*/

.MainConteiner {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 80px);
    overflow-y: auto !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 136, 220);
    margin: 0;
}

.content-search {
    width: 100%;
    /* min-height: 200px; */

    display: flex;
    /* flex-direction: column; */

    background-image: url("BackgorundHome2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.HomeMovie {
    width: 285px;
}

.shadow {
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) 100%);
}

.searched-movies {
    background: linear-gradient(rgb(0, 0, 0) 2%, rgba(0, 0, 0, 0.2));
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo {
    width: 180px;
}

.logo-container {
    text-align: center;
    display: flex !important;
    flex-grow: 1;
}

.logo-container-main {
    margin-bottom: 10px;
}

.content {
    margin-top: 40px;
    padding: 20px;
    z-index: 1;
    gap: 0.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    /* Center content vertically */
    flex-grow: 1;
    align-items: center;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
}
