@page "/"
@inject NavigationManager NavigationManager

<div class="page">
    <div class="navbar">
        <div class="navbar-content">
            <button class="menu-button" @onclick="ToggleMenu">&#9776;</button>
            <img class="Minilogo" src="MiniLogo.png" alt=" CineSync MiniLogo">
            <h1 class="navbar-title">CineSync</h1>
            <NavLink href="/Account/Login">
            <button class="login-button">Login</button>
            </NavLink>
        </div>
    </div>
    <div class="main-content">
        <div class="logo-container-main">
            <img src="logo.png" alt="CineSync Main Logo">
        </div>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">Search</button>
        </div>
    </div>
    <footer class="footer">
        &copy; Copyright 2024 Engenharia de Software
    </footer>
</div>

@code {
    public void ToggleMenu()
    {
        // Add logic to toggle the menu
    }
    public void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/Account/Login");
    }
}
