@page "/ManageCollection/{CollectionName?}"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using CineSync.Components.Buttons
@using CineSync.Components.Movies
@using CineSync.Core.Adapters.ApiAdapters
@using CineSync.Data.Models
@using CineSync.Components.PopUps

@rendermode InteractiveServer

<div class="main-content">

    <div class="content">

        <div class="Subtilte">
            <div>
                @Collection.Name
            </div>
            <div class="toggle-button">
                <ToggleButton OnChange="OnChangePublic" InitialState="Collection.IsPublic" />

                @if (!DefaultCollection.Contains(Collection.Name))
                {
                    <button class="EditName" data-toggle="modal" data-target="#POPUPINPUT">Edit Name</button>
                }
            </div>
        </div>

        <PopUpInput Tilte="Change Collection Name" Question="Insert new name" PlaceHolder="New collection name" OnSave="OnChangeName"></PopUpInput>

        <ManagerCollectionMovies AuthenticatedUser="AuthenticatedUser" Collection="Collection" AllMovies="AllMovies"></ManagerCollectionMovies>
      
    </div>
  
</div>
