@page "/Profile"
@using CineSync.Components.Buttons
@using CineSync.Components.Account.Component
@rendermode InteractiveServer

<div class="Profile">
    <div class="Profile-sidebar">
        <div class="Profile-icon">
            <ProfileIcon ProfileWidth=100 />
            <button data-toggle="modal" data-target="#editProfileModal" class="Edit-image-icon">
                <?xml version="1.0" ?>
                <svg class="edit-image" fill="currentcolor" height="25" viewBox="0 0 24 24" width="25" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8555 15.5002L16.3555 14.0002H6.25278C5.01076 14.0002 4.00391 15.007 4.00391 16.2491V16.8267C4.00391 17.7195 4.32242 18.583 4.90219 19.2619C6.29795 20.8964 8.34464 21.7932 10.9999 21.9691C10.9958 21.7863 11.016 21.5982 11.0636 21.4078L11.2946 20.484C8.92119 20.3643 7.18576 19.6262 6.04287 18.2878C5.69502 17.8805 5.50391 17.3624 5.50391 16.8267V16.2491C5.50391 15.8355 5.83919 15.5002 6.25278 15.5002H14.8555ZM12.0004 2.00488C14.7618 2.00488 17.0004 4.24346 17.0004 7.00488C17.0004 9.76631 14.7618 12.0049 12.0004 12.0049C9.23894 12.0049 7.00036 9.76631 7.00036 7.00488C7.00036 4.24346 9.23894 2.00488 12.0004 2.00488ZM12.0004 3.50488C10.0674 3.50488 8.50036 5.07189 8.50036 7.00488C8.50036 8.93788 10.0674 10.5049 12.0004 10.5049C13.9334 10.5049 15.5004 8.93788 15.5004 7.00488C15.5004 5.07189 13.9334 3.50488 12.0004 3.50488ZM19.0999 12.6695L13.1974 18.5719C12.8533 18.916 12.6092 19.3472 12.4911 19.8194L12.0334 21.6501C11.8344 22.4462 12.5556 23.1674 13.3517 22.9683L15.1824 22.5106C15.6545 22.3926 16.0857 22.1485 16.4299 21.8043L22.3323 15.9019C23.2249 15.0093 23.2249 13.5621 22.3323 12.6695C21.4397 11.7768 19.9925 11.7768 19.0999 12.6695Z" fill="currentcolor" />
                </svg>
            </button>
            <CineSync.Components.PopUps.AddImageProfile></CineSync.Components.PopUps.AddImageProfile>
        </div>
        <div class="User-Followers">
            <div class="Followers">Followers 10</div>
            <div class="Following">Following 10</div>
        </div>
        <div class="Info">
            
            <ProfileInput Placeholder="Username" />
            <p>Username:<span style="color:white;">@newuserName</span></p>
        </div>
        <div class="Buttons">
                <NavLink href="/Account/Manage/ChangePassword">
                    <button class="buttonProfile">Change Password</button>
                </NavLink>
                <NavLink href="/Account/Manage/Email">
                    <button class="buttonProfile">Change Email</button>
                </NavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="" />
					<button action="" class="buttonProfile">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
            <button class="DeleteBTN" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>
            <CineSync.Components.PopUps.DeleteACC></CineSync.Components.PopUps.DeleteACC>
        </div>
    </div>
    <div class="Profile-info">
        <div class="Statistics">
            <div class="Statistics-title">Statistics</div>
            <div class="Info-line"></div>
            <div class="User-statistics"> 
                Watch Time 0  
                <div class="view-icon-container">
                    <svg class="view-icon" width="20" height="20" viewBox="0 0 25 25" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.1719 12.2344C23.253 9.85754 21.6578 7.80204 19.5835 6.32194C17.5091 4.84184 15.0465 4.00201 12.5 3.90625C9.95356 4.00201 7.49096 4.84184 5.4166 6.32194C3.34223 7.80204 1.74703 9.85754 0.828159 12.2344C0.766102 12.406 0.766102 12.594 0.828159 12.7656C1.74703 15.1425 3.34223 17.198 5.4166 18.6781C7.49096 20.1582 9.95356 20.998 12.5 21.0938C15.0465 20.998 17.5091 20.1582 19.5835 18.6781C21.6578 17.198 23.253 15.1425 24.1719 12.7656C24.234 12.594 24.234 12.406 24.1719 12.2344ZM12.5 19.5312C8.35941 19.5312 3.98441 16.4609 2.39847 12.5C3.98441 8.53906 8.35941 5.46875 12.5 5.46875C16.6407 5.46875 21.0157 8.53906 22.6016 12.5C21.0157 16.4609 16.6407 19.5312 12.5 19.5312Z" fill="currentcolor" />
                        <path d="M12.5 7.8125C11.5729 7.8125 10.6666 8.08742 9.89577 8.60249C9.12491 9.11756 8.5241 9.84964 8.16932 10.7062C7.81453 11.5627 7.7217 12.5052 7.90257 13.4145C8.08344 14.3238 8.52988 15.159 9.18544 15.8146C9.841 16.4701 10.6762 16.9166 11.5855 17.0974C12.4948 17.2783 13.4373 17.1855 14.2938 16.8307C15.1504 16.4759 15.8824 15.8751 16.3975 15.1042C16.9126 14.3334 17.1875 13.4271 17.1875 12.5C17.1875 11.2568 16.6936 10.0645 15.8146 9.18544C14.9355 8.30636 13.7432 7.8125 12.5 7.8125ZM12.5 15.625C11.8819 15.625 11.2777 15.4417 10.7638 15.0983C10.2499 14.755 9.8494 14.2669 9.61288 13.6959C9.37635 13.1249 9.31447 12.4965 9.43505 11.8903C9.55563 11.2842 9.85325 10.7273 10.2903 10.2903C10.7273 9.85325 11.2842 9.55562 11.8903 9.43505C12.4965 9.31447 13.1249 9.37635 13.6959 9.61288C14.2669 9.8494 14.755 10.2499 15.0983 10.7638C15.4417 11.2777 15.625 11.8819 15.625 12.5C15.625 13.3288 15.2958 14.1237 14.7097 14.7097C14.1237 15.2958 13.3288 15.625 12.5 15.625Z" fill="currentcolor" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="Collections">
            <div class="Collection-title"> Collection</div>
            <div class="Info-line"></div>
            <Collection CollectionName="Collection 1"/>
        </div>
    </div>
</div>
<footer>&copy; Copyright 2024 Engenharia de Software</footer>
