.error{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,0.5);
    border-radius:25px;
    width:100%;
    height:100%;
    font-size:30px;
    color:white;
}

.profile-container {
    background-image: url("BackgorundHome.webp");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.Profile {
    display: flex;
    flex-direction: row;
    background-color: rgb(79, 79, 79, 0.2);
    color: white;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.Profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: fit-content;
    color: white;
    min-width: 250px;
    background-color: rgb(0 0 0 / 71%);
    min-width:300px!important;
}

.Profile-icon {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top:40px;
}

.button-Conteiner {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    right:40px;
    width:0px;
}

.Edit-image-icon {
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 0;
    border: 1px solid #000000;
    border-radius: 50%;
    color: black;
    fill: black;
    z-index: 1;
}

    .Edit-image-icon:hover {
        background-color: rgb(30,30,30);
        color: white;
        fill:white;
        border: 1px solid white;
    }

    .Edit-image-icon:active {
        background-color: rgb(49,49,49);
        color: white;
        border: 1px solid white;
    }

.edit-image {
    color: #000000;
}

.User-Followers {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 0px;
}

.Following,
.Followers {
    color: white;
    margin: 3px;
}

.Info {
    align-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    padding-left:40px;
    padding-right:40px;
    gap:10px;
}

.buttonComteiner {
    display: flex;
    justify-content: center;

    width: 100%;
}

.buttonProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: itim;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(90deg, #4892db 0%, #5f00cc 100%);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border: 2px solid #0066cc;
    border-radius: 50px;
    cursor: pointer;
    min-height: fit-content;
    height: 50px;
    flex-grow: 1;
    width: 200px;
    transition: width 500ms;
}

.removeFromFollowing,
.addToFollowing {
    width: 25px;
    height: 25px;
}

.DeleteBTN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Itim;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(90deg, #ff9999 0%, #cc0033 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: width 500ms;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}


    .DeleteBTN:hover {
        background: linear-gradient(90deg, #ff9999 0%, #cc0033 100%);
        border: 4px solid #0066cc;
        color: #000000;
        border: solid 2px #0066cc;
        width: 220px;
        transition: width 752ms;
    }

    .buttonProfile:hover {
        background: linear-gradient(90deg, #4892db 0%, #5f00cc 100%);
        border: 4px solid #0066cc;
        color: #000000;
        border: solid 2px #0066cc;
        width: 220px;
        transition: width 752ms;
    }

.Profile-info {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
    padding-bottom:0px;
    height:100%;
    max-height: 100%;
    display:flex;
    flex-direction:column;
    max-width: calc(100vw - 300px);
}

.Collections {
   display:flex;
   flex-direction:column;
   gap:20px;
}

.Collections-colum{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.User-statistics {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.view-icon-container {
    align-content: center;
    align-items: center;
}

.view-icon {
    margin-left: 5px;
    color: #ffffff;
}

.Info-line {
    height: 3px;

    background-color: #000000;
    box-shadow: 0px 4px 10px rgb(0 0 0);
}

.PageSubtitle {
    color: #ffffff;
    font-size: 25px;
    overflow-x: hidden;
    background-color: rgb(0,0,0);
    padding-left: 20px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}

.noFound {
    color: #ffffff;
    font-size: 25px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow:clip;
    height:fit-content;

}

.Loading-container {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    justify-content:center;
    align-items:center;
    height:100%;
}

.Collection-title {
    color: #ffffff;
    font-size: 25px;
    margin-left: 10px;
    overflow-x: hidden;
}

.User-item {
    display: flex;
    flex-direction: row;
    background-color: #0c1d58cb;
    border-radius:10px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;

    align-items:center;
    flex-grow:1;
    justify-content:center;
}

.Statistics-conteine {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

.Statistics {
}


.tab-content {
    padding: 20px;
    flex-grow:1;
    min-height:0px;
    height:10px;
    overflow-y: auto;
}

@media (max-width: 600px ) {
    .user-list {
        grid-template-columns: repeat(1, 100%);
    }
}

/* Large screens */
@media (min-width: 600px) and (max-width: 1100px) {
    .user-list {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 1100px) {
    .user-list {
        grid-template-columns: repeat(3, 30%);
    }
}

.user-list {
    display: grid;
    grid-column-gap: 10px;
    grid-auto-rows:auto;
    /* flex-direction:row;
    flex-wrap:wrap;*/
    justify-content:space-evenly;
    gap: 10px;
}

.user-item {
    background: linear-gradient(to right, rgb(0,0,0,1) 70%, rgba(0,0,0,0.3) 100%);
    min-width: fit-content;
  /*  flex-grow: 1;
    width:25%;*/
    width:100%;
    padding:10px;
    border-radius:10px;
    font-size:20px;
    color:white !important;
}

    .user-item:hover {
        background: linear-gradient(to right, rgb(49,49,49,1) 70%, rgba(49,49,49,0.3) 100%);
        color: black !important;
    }

    .user-item:active {
        background: linear-gradient(to right, rgb(59,59,59,1) 70%, rgba(59,59,59,0.3) 100%);
        color: black !important;
    }

.user-item:active {
}