@using CineSync.Components.Movies
@using CineSync.Data.Models
@using CineSync.Components.Buttons
@using CineSync.Components.PopUps
@inject ILogger<Collection> Logger

<div class="collection-main-container">
    <div class="collection-info">
        <div class="collection-name">@MovieCollection.Name</div>
        <div class="collection-icons" >
            <svg @onclick="GoToCollectionManager" class="collection-icon-svg" viewBox="0 0 13 13" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 12.5H9M12.5 12.5V9M12.5 12.5L8.5 8.5M9 0.5H12.5M12.5 0.5V4M12.5 0.5L8.5 4.5M4 0.5H0.5M0.5 0.5V4M0.5 0.5L4.5 4.5M0.5 9V12.5M0.5 12.5H4M0.5 12.5L4.5 8.5" stroke="currentcolor" />
            </svg>
            @if (!DefaultCollectionsNames.Contains(MovieCollection.Name) && AuthenticatedUser != null && AuthenticatedUser.Equals(MovieCollection.ApplicationUser))
            {
                <RemoveCollection Collection="@MovieCollection" OnRemove="OnRemove" @ref="_popupRemove"/>
                <div class="remove-collection" @onclick="() => { _popupRemove.Open(); }">
                    <svg class="collection-icon-svg" width="30px" height="30px" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M432 80h-82.38l-34-56.75C306.1 8.827 291.4 0 274.6 0H173.4C156.6 0 141 8.827 132.4 23.25L98.38 80H16C7.125 80 0 87.13 0 96v16C0 120.9 7.125 128 16 128H32v320c0 35.35 28.65 64 64 64h256c35.35 0 64-28.65 64-64V128h16C440.9 128 448 120.9 448 112V96C448 87.13 440.9 80 432 80zM171.9 50.88C172.9 49.13 174.9 48 177 48h94c2.125 0 4.125 1.125 5.125 2.875L293.6 80H154.4L171.9 50.88zM352 464H96c-8.837 0-16-7.163-16-16V128h288v320C368 456.8 360.8 464 352 464zM224 416c8.844 0 16-7.156 16-16V192c0-8.844-7.156-16-16-16S208 183.2 208 192v208C208 408.8 215.2 416 224 416zM144 416C152.8 416 160 408.8 160 400V192c0-8.844-7.156-16-16-16S128 183.2 128 192v208C128 408.8 135.2 416 144 416zM304 416c8.844 0 16-7.156 16-16V192c0-8.844-7.156-16-16-16S288 183.2 288 192v208C288 408.8 295.2 416 304 416z" fill="currentcolor" />
                    </svg>
                </div>
            }
        </div>
    </div>

    <div class="collection-movies">
        <div class="collection-movies-shadow-left"></div>
        @foreach (CollectionsMovies collectionsMovies in MovieCollection.CollectionMovies)
        {
            <div @onclick="(e) => MovieClickHandler(collectionsMovies.Movie)">
                <MoviePlace Movie=collectionsMovies.Movie Width="250" Heigth="350"></MoviePlace>
            </div>
        }
        @if (MovieCollection.CollectionMovies.Count() == 0)
        {
            <div class="no-results-found-icon-container">
                <img id="no-results-found-icon" src="NoMovies.png" alt="Sory imoji" />
                There is no movies in the collection.
            </div>
        }
        <div class="collection-movies-shadow-right"></div>
    </div>
</div>

