@using CineSync.Components.Utils

<div class="main-container">
    <img src="/profilepic.jpg" class="Profile-pic" style="@GetProfileWidthStyle()">

</div>

@code 
{
    [Parameter]
    public int ProfileWidth { get; set; } = 100;

    private string GetProfileWidthStyle()
    {
        return $"width: {ProfileWidth}px;";
    }
}
