@using CineSync.Components.Utils

<div class="main-container">
    @if ( ProfileImage == null ) {
        <img src="/NoProfilePic.png" class="Profile-pic" style="@GetProfileWidthStyle()">
    }
    else{
        <img src="@(ImageConverter.ConverBytesTo64(ProfileImage.ImageData))" class="Profile-pic" style="@GetProfileWidthStyle()">
    }
</div>
