<div class="main-content">
    <input class="email-input" type="text" placeholder="@Placeholder">
    <button class="edit-email-button" data-toggle="modal" data-target="#editUsernameModal">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 5H3C2.46957 5 1.96086 5.21071 1.58579 5.58579C1.21071 5.96086 1 6.46957 1 7V16C1 16.5304 1.21071 17.0391 1.58579 17.4142C1.96086 17.7893 2.46957 18 3 18H12C12.5304 18 13.0391 17.7893 13.4142 17.4142C13.7893 17.0391 14 16.5304 14 16V15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M13 2.99998L16 5.99998M17.385 4.58499C17.7788 4.19114 18.0001 3.65697 18.0001 3.09998C18.0001 2.543 17.7788 2.00883 17.385 1.61498C16.9912 1.22114 16.457 0.999878 15.9 0.999878C15.343 0.999878 14.8088 1.22114 14.415 1.61498L6 9.99998V13H9L17.385 4.58499Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
    <CineSync.Components.PopUps.UsernameEdit></CineSync.Components.PopUps.UsernameEdit>
</div>


@code {
    [Parameter]
    public string Placeholder { get; set; }
}
