<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var collection in collections)
        {
            <a class="dropdown-item">@collection</a>
        }
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" data-target="#AddCollection"  @onclick="AddNewCollection">Nova coleção</button>
    </div>
</div>
@code {
	
	
}