<div class="main-container">
    <div class="public-text"> Public</div>
    <div class="container">
        <input type="checkbox" id="check">
        <label for="check" class="button"></label>
    </div>
    <div class="private-text"> Private</div>
</div>