@inherits LayoutComponentBase
@layout AccountLayout

<div class="page">
        <NavLink href="/Profile">
        <button class="login">Back</button>
        </NavLink>
    <div class="col-md-9">
            @Body
    </div>
    <footer class="footer">
        &copy; Copyright 2024 Engenharia de Software
    </footer>
</div>
