@page "/Comments"
<div class="containder">
	<h3>Post Comment</h3>
	<EditForm Model="@commentModel" OnInvalidSubmit="@addComment">
		<InputTextArea @bind-Value="@commentModel.CommentText" />
		<button type="submit" class="btn btn-primary">Add Comment</button>
	</EditForm>	
</div>
