@rendermode InteractiveServer
<div class="comment-section">
    <h4>Add a Comment</h4>
    <textarea @bind="comment.Content"></textarea>
    <button type="submit" @onclick="HandleSubmit">Comment</button>
</div>
<div class="form-container comments-done">

    @foreach (var c in CommentsList)
    {
        <div class="comment">
            <div class="comment-header">
                <span>@c.Autor.UserName</span>
                <span>@c.NumberOfLikes Likes</span>
                <span>@c.NumberOfDislikes Dislikes</span>
            </div>
            <div class="comment-content">
                <p>@c.Content</p>
                <div class="comment-actions">
                    <div @onclick="()=>c.NumberOfLikes++" style="cursor: pointer;">
                        <img src="like_icon.png" alt="Like" width="20" height="20">
                    </div>

                    <div @onclick="()=>c.NumberOfDislikes++" style="cursor: pointer;">
                        <img src="dislike_icon.png" alt="Dislike" width="20" height="20">
                    </div>

                </div>
                @if (c.Attachements != null && c.Attachements.Any())
                {
                    <div class="attachments">

                    </div>
                }
            </div>
        </div>
    }
</div>

