@rendermode InteractiveServer

<div class="comment-section">

    @foreach (var c in CommentsList)
    {
        <div class="comment">
            <div class="comment-header">
                <span>@c.Autor.UserName</span>
                <span>@c.NumberOfLikes Likes</span>
                <span>@c.NumberOfDislikes Dislikes</span>
            </div>
            <div class="comment-content">
                <p>@c.Content</p>
                @if (c.Attachements != null && c.Attachements.Any())
                {
                    <div class="attachments">

                    </div>
                }
            </div>
        </div>
    }
</div>

<div class="add-comment">
    <h4>Add a Comment</h4>
    <textarea @bind="comment.Content"></textarea>
    <button type="submit" @onclick="HandleSubmit">Comment</button>
</div>
