@rendermode InteractiveServer

<CustomAuthorizedView CheckAuthentication="true">
	<CustomAuthorized>
    <div class="comment-section">
        <h4>Add a Comment</h4>
        <textarea @bind="comment.Content"></textarea>
        <button type="submit" @onclick="HandleSubmit">Comment</button>
    </div>
    </CustomAuthorized>
</CustomAuthorizedView>
<div class="form-container comments-done">

    @foreach (var c in CommentsList)
    {
        <div class="comment">
            <div class="comment-header">
                <span>@c.Autor.UserName</span>
                <span>@c.NumberOfLikes Likes</span>
                <span>@c.NumberOfDislikes Dislikes</span>
            </div>
            <div class="comment-content">
                <p>@c.Content</p>
                <CustomAuthorizedView CheckAuthentication=true>
                    <CustomAuthorized>
                        <div class="comment-actions">
                            <div @onclick="(e)=>{AddLike(c);}" style="cursor: pointer;">
                                <img src="like_icon.png" alt="Like" width="20" height="20">
                            </div>

                            <div @onclick="(e)=>{AddDeslike(c);}" style="cursor: pointer;">
                                <img src="dislike_icon.png" alt="Dislike" width="20" height="20">
                            </div>

                        </div>
                    </CustomAuthorized>
                </CustomAuthorizedView>
                @if (c.Attachements != null && c.Attachements.Any())
                {
                    <div class="attachments">

                    </div>
                }
            </div>
        </div>
    }
</div>

