@rendermode InteractiveServer

@using Utils;
@using CineSync.Components.Buttons;

<CustomAuthorizedView CheckAuthentication="true">
	<CustomAuthorized>
    <div class="comment-section">
        <h4>Add a Comment</h4>
        <textarea @bind="comment.Content"></textarea>
        <button type="submit" @onclick="HandleSubmit">Comment</button>
    </div>
    </CustomAuthorized>
</CustomAuthorizedView>

<div class="comments-done">

    @foreach (var comment in CommentsList)
    {
        <ItemComment Comment="comment" ></ItemComment>
    }

    @if (CommentsList != null && CommentsList.Count == 0)
    {
        <div class="">The is no comments at this time.</div>
    }

</div>

