.comment-section {
    margin-bottom: 20px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-content p {
    margin-bottom: 10px;
}

.attachments {
    margin-top: 10px;
}

.add-comment {
    margin-top: 20px;
}

    .add-comment h4 {
        margin-bottom: 10px;
    }

    .add-comment .form-group {
        margin-bottom: 15px;
    }

    .add-comment textarea {
        width: 100%;
        min-height: 100px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical; /* Allow vertical resizing */
    }

    .add-comment button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .add-comment button[type="submit"]:hover {
            background-color: #0056b3;
        }

.validation-message {
    color: #dc3545;
    margin-top: 5px;
}
p,h4, label{
    color:white;
}