.modal-content {
    background-color: #343a40; /* Blackish background */
}

.modal-header {
    border-bottom: 1px solid #ffffff; /* White border */
}

.modal-title {
    color: #ffc107; /* Yellow text */
    margin: 0 auto; /* Center the title */
}

.modal-body,
.modal-footer {
    border-top: 1px solid #ffffff; /* White border */
}

.modal-footer {
    background-color: #343a40; /* Blackish background */
}

.btn-primary {
    background-color: #007bff; /* Blue button */
    border-color: #007bff; /* Blue border */
}

    .btn-primary:hover {
        background-color: #0056b3; /* Darker blue on hover */
        border-color: #0056b3; /* Darker blue border on hover */
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Blue focus shadow */
    }

.btn-secondary {
    background-color: #6c757d; /* Gray button */
    border-color: #6c757d; /* Gray border */
}

    .btn-secondary:hover {
        background-color: #545b62; /* Darker gray on hover */
        border-color: #545b62; /* Darker gray border on hover */
    }

    .btn-secondary:focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); /* Gray focus shadow */
    }


.form-group{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.CheckItem{
    display:flex;
    flex-direction:row;
    gap:20px;
    align-items:center;
    color:white;
    height:30px;
}

    .CheckIteminput{
        display: flex;
        width: 20px; /* Adjust the width to your preference */
        height: 20px; /* Adjust the height to your preference */
        background-color: #fff;
        border: 1px solid #000; /* Adjust border properties as needed */
        text-align: center;
        line-height: 20px; /* Center the radio button's label */
        border-radius:5px;

    }

    input[type='radio'] {
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #333;
        border: 3px solid white;
        width: 16px;
        height: 16px;
    }

    input[type='radio']:checked {
        background: #333;
    }

.conteinerRadio{
    display:flex;
    height:30px;
    width:20px;
    justify-content:center;
    align-items:center;
}

.conteinerRadioLabel {
    display: flex;
    flex-direction:row;
    height: 30px;
    justify-content: start;
    align-items:center;
    margin:0;
    flex-grow:1;

}

.newcollection{
    margin-top:20px;
}