.modal-content {
    background-color: #343a40; /* Blackish background */
}

.modal-header {
    border-bottom: 1px solid #ffffff; /* White border */
}

.modal-title {
    color: #ffc107; /* Yellow text */
    margin: 0 auto; /* Center the title */
}

.modal-body,
.modal-footer {
    border-top: 1px solid #ffffff; /* White border */
}

.modal-footer {
    background-color: #343a40; /* Blackish background */
}

.btn-primary {
    background-color: #007bff; /* Blue button */
    border-color: #007bff; /* Blue border */
}

    .btn-primary:hover {
        background-color: #0056b3; /* Darker blue on hover */
        border-color: #0056b3; /* Darker blue border on hover */
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Blue focus shadow */
    }

.btn-secondary {
    background-color: #6c757d; /* Gray button */
    border-color: #6c757d; /* Gray border */
}

    .btn-secondary:hover {
        background-color: #545b62; /* Darker gray on hover */
        border-color: #545b62; /* Darker gray border on hover */
    }

    .btn-secondary:focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); /* Gray focus shadow */
    }
