@rendermode InteractiveServer
@using CineSync.Data.Models;
@using CineSync.Components.Buttons;

<PopUpLayout Id="editProfileModal">
    <Header>
        <div class="title">Add to colection</div>
    </Header>
    <Body>
        <div class="modal-body">
            <div class="form-group">
                <label for="profilePic">Profile Picture:</label>
                <InputFile OnChange="HandleSelected" accept="image/*" />
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="text-danger">@ErrorMessage</div>
                }
            </div>
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" @onclick="UploadProfilePic">Upload</button>
    </Footer>
</PopUpLayout>
<script>
  function closeBootstrapModal(modalId) {
    $(modalId).modal('hide');
  }
</script>
