@rendermode InteractiveServer
@using CineSync.Data.Models;
@using CineSync.Components.Buttons;

<PopUpLayout @ref=PopUpLayout Id="editProfileModal">
    <Header>
        <div class="title">Add to colection</div>
    </Header>
    <Body>
        <div class="modal-body">
            <div class="form-group">
                <label for="profilePic">Profile Picture:</label>
                <InputFile @bind-Value="selectedFile" OnChange="HandleSelected" accept="image/*" />
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="text-danger">@ErrorMessage</div>
                }
            </div>
        </div>
    </Body>
    <Footer>
        <RectButton2 Text="Cancel" DataDismiss="modal" ></RectButton2>
        <RectButton1 Text="Update" DataDismiss="modal" OnClick="()=>{ UploadProfilePic();}"> </RectButton1>
    </Footer>
</PopUpLayout>
