.main-container{
    display: flex;
    flex-direction: column;
}

.prevent-select{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.subtitle {
    font-size: 18px;
    color: white;
}