/* Estilos gerais para o modal */
.modal-content {
    background-color: #343a40; /* Blackish background */
    border: 1px solid rgba(255, 255, 255, 0.125); /* White border */
    border-radius: 0.25rem;
    color: #fff; /* White text color */
}

.modal-header {
    padding: 1rem;
    border-bottom: 1px solid #ffffff; /* White border */
}

.modal-title {
    margin: 0;
    color: #ffc107; /* Yellow text color */
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    padding: 1rem;
    border-top: 1px solid #ffffff; /* White border */
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

    .star-rating label {
        font-size: 2em;
        cursor: pointer;
        color: #ccc;
        transition: color 0.3s;
        margin-right: 10px; /* Add margin between emojis */
    }

        .star-rating label:hover,
        .star-rating input[type="radio"]:hover ~ label,
        .star-rating input[type="radio"]:checked ~ label {
            color: gold; /* Change color on hover */
            box-shadow: 0 0 10px gold; /* Add a gold glow effect */
            border-radius: 70%;
            box-shadow: inset 0 0 10px rgba(255, 215, 0, 0.5);
        }
