@rendermode InteractiveServer
@using CineSync.Components.Buttons

<PopUpLayout Id="RateModel">
    <Header>
        <img class="titleImage" src="CsRating.png" />
        <div class="title">Rate Movie</div>
    </Header>
    <Body>
        <div class="star-rating text-center">
            @for (int i = 10; i >= 1; i--)
            {
                <input type="radio" id="@($"star{i}")" name="rating" value="@i" style="display: none;" @onchange="SetRating" />
                <label for="@($"star{i}")" style="margin-right: 10px;"><img style="width:30px;" src="CsRating.png" /></label>
            }
        </div>
    </Body>
    <Footer>
        <RectButton1 Text="Save changes" OnClick="SaveRating" DataDismiss="modal"> </RectButton1>
    </Footer>
</PopUpLayout>