@rendermode InteractiveServer
@using CineSync.Data.Models;
@using CineSync.Components.Buttons;

<PopUpLayout Id="NewCollection">
    <Header>
        <div class="title">Add to colection</div>
    </Header>
    <Body>
        <div class="form-group">
            <div class="newcollection">
                <input type="text" class="form-control" id="collectionName" placeholder="New Collection name" @bind-value="@_newCollectionName">
            </div>
        </div>
    </Body>
    <Footer>
        <RectButton1 Text="Save changes" OnClick="OnSave" DataDismiss="modal"> </RectButton1>
        @*         <button @onclick="OnSave" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button> *@
    </Footer>
</PopUpLayout>
