@using CineSync.Components.Buttons
<PopUpLayout
    Id="@Id"
             @ref="_popUpLayout">   
    <Header>
        <div class="vertival-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20c0-1.657-2.239-3-5-3s-5 1.343-5 3m14-3c0-1.23-1.234-2.287-3-2.75M3 17c0-1.23 1.234-2.287 3-2.75m12-4.014a3 3 0 1 0-4-4.472m-8 4.472a3 3 0 0 1 4-4.472M12 14a3 3 0 1 1 0-6a3 3 0 0 1 0 6" /></svg>
        </div>
        <div class="title">
            @Tilte
        </div>
    </Header>
    <Body>
        <div class="form-group">
            <label for="newUsername">@Question:</label>
            <input type="text" class="form-control" id="newUsername" @bind="@Value" placeholder="@PlaceHolder">
        </div>
        <div class="error">
            @_error
        </div>
    </Body>
    <Footer>
        <RectButton2 Text="Cancel" DataDismiss="modal"></RectButton2>
        <RectButton1 Text="Create Group" DataDismiss="modal" OnClick="()=>{OnSave(Value);}"></RectButton1>
    </Footer>
</PopUpLayout>