@using CineSync.Components.Buttons
@using CineSync.Components.Layout
@using CineSync.Components.Account.Component
@using CineSync.Data

<PopUpLayout Id="@_id" @ref="@_popupLayout">
	<Header>
		<div class="vertival-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z" /><path fill="currentColor" d="M8 7a3 3 0 1 1 6 0a3 3 0 0 1-6 0m3-5a5 5 0 1 0 0 10a5 5 0 0 0 0-10M4 18.5c0-.18.09-.489.413-.899c.316-.4.804-.828 1.451-1.222C7.157 15.589 8.977 15 11 15q.563 0 1.105.059a1 1 0 1 0 .211-1.99A13 13 0 0 0 11 13c-2.395 0-4.575.694-6.178 1.672c-.8.488-1.484 1.064-1.978 1.69C2.358 16.976 2 17.713 2 18.5c0 .845.411 1.511 1.003 1.986c.56.45 1.299.748 2.084.956C6.665 21.859 8.771 22 11 22q.346 0 .685-.005a1 1 0 1 0-.027-2Q11.333 20 11 20c-2.19 0-4.083-.143-5.4-.492c-.663-.175-1.096-.382-1.345-.582C4.037 18.751 4 18.622 4 18.5M17.5 16a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3M14 17.5a3.5 3.5 0 1 1 6.58 1.665l.834.835A1 1 0 1 1 20 21.414l-.835-.835A3.5 3.5 0 0 1 14 17.5" /></g></svg>
		</div>
		<div class="title">
			@Title
		</div>
	</Header>
	<Body>

		<SearchButton
			Animation="false"
			Heigth="35"
			SearchButtonIconSize="15"
			SearchButtonWidth="50"
			PadingBorder="10"
			PlaceHolder="Username ..."
			InputWidth="150"
			Width="100%"
			OnSearch="OnClickSearch"
			OnInput="OnInput">
		</SearchButton>

		<div class="container-results">

			@if (_isLoading && !_MoreResultsLoading)
			{
				<div class="loading-container">
					<Loading 
						FontPalceHeight="20"
						FontSize="18"
						LineHeight="30"
						LetterSpacing="0"
						MarginLeterLine="5"
						MaxWidth="120"
					>
					</Loading>
				</div>
			}
			else if (_followingResults.Count() == 0 && _DbResults.Count() == 0 )
			{
				<div class="no-results-found-container">

					<div class="no-results-found-text">
						<div>
							Sorry, we could not find any results
						</div>
					</div>

					<div class="no-results-found-icon-container">
						<img id="no-results-found-icon" src="SoryNotFound.png" alt="Sory imoji" />
					</div>

                </div>
            }
            else
            {
				foreach (ApplicationUser user in _followingResults)
				{
					<div class="item-user"
						@onclick="() => {if(OnClickUser.HasDelegate) OnClickUser.InvokeAsync(user);}"
						@onclick:stopPropagation
						>
						<ItemUser	Style="height:30px; width:30px;" 
									Short=false 
									User="@user">
						</ItemUser>
						<div class="item-user-right">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024"><path fill="currentColor" d="M288 320a224 224 0 1 0 448 0a224 224 0 1 0-448 0m544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z" /></svg>
							</div>
						</div>
					</div>
				}

                foreach( ApplicationUser user in _DbResults)
                {
					<div class="item-user" 
						@onclick="() => {if(OnClickUser.HasDelegate) OnClickUser.InvokeAsync(user);}" 
						@onclick:stopPropagation
						>
						<ItemUser	Style="height:30px; width:30px;"
									Short=false
									User="@user"
						></ItemUser>
						<div class="item-user-right">
							<div>
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1024 1024"><path fill="currentColor" d="M288 320a224 224 0 1 0 448 0a224 224 0 1 0-448 0m544 608H160a32 32 0 0 1-32-32v-96a160 160 0 0 1 160-160h448a160 160 0 0 1 160 160v96a32 32 0 0 1-32 32z" /></svg>
							</div>
						</div>
					</div>
				}

				@if (_MoreResultsLoading)
				{
					<div class="loading-container">
						<Loading FontPalceHeight="20"
								 FontSize="18"
								 LineHeight="30"
								 LetterSpacing="0"
								 MarginLeterLine="5"
								 MaxWidth="120">
						</Loading>
					</div>
				}
				else if( _DbResults.Count() == 0)
				{
					<div class="no-results-found-container">
						<RectButton1 Text="More Results" OnClick="()=>{ OnClickMoreResults(); }"></RectButton1>
					</div>
				}
			}

		</div>

	</Body>
	<Footer>
		<RectButton2 Text="Cancel" DataDismiss="modal"></RectButton2>
	</Footer>
</PopUpLayout>