.vertival-center
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.title {
    font-family: 'Roboto';
    font-size: 24px;
    color: white;
}

.container-results
{
    display:flex;
    flex-direction:column;
    gap:10px;
    min-height:300px;
    padding: 20px 0 10px 0;
}

.no-results-found-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-grow:1;

}
.no-results-found-text {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    color: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-results-found-icon-container,
#no-results-found-icon {
    display: flex;
    width: 160px;
    height: 100px;
    flex-grow: 2;
}

.loading-container
{
    display:flex;
    flex-grow:1;
    justify-content:center;
    align-items:center;
}

.item-user {
    display: flex;
    background: linear-gradient(to right, rgba(35,35,35,1), rgba(10,10,10,1) );
    /*background-color:rgb(45,45,45);*/
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
    .item-user:hover {
        background: linear-gradient(to right, rgba(35,35,55,1), rgba(10,10,30,1) );
    }

    .item-user:active{
        background: linear-gradient(to right, rgba(35,35,60,1), rgba(10,10,35,1) );
    }

    .item-user-right {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-grow: 1;
    }

.noresults
{
    font-size:15px;
    color:white;
}