<div class="modal fade" id="POPUPINPUT" tabindex="-1" role="dialog" aria-labelledby="editUsernameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-white">
            <div class="modal-header text-center">
                <h5 class="modal-title text-blue">@Tilte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark text-white">
                <form>
                    <div class="form-group">
                        <label for="newUsername">@Question:</label>
                        <input type="text" class="form-control" id="newUsername" @bind="@Value" placeholder="@PlaceHolder">
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" @onclick="Save">Save Changes</button>
            </div>
        </div>
    </div>
</div>