@rendermode InteractiveServer

@using CineSync.Components.Buttons;

<PopUpLayout @ref=PopUpLayout Id="editUsernameModal">
    <Header>
        <div class="title">Edit Username</div>
    </Header>
    <Body>
        <div class="modal-body">
            <div class="form-group">
                <div id="actual" class="subtitle" >
                    Current Username: <span id="actualUsername" style="color:white;">@AuthenticatedUser</span>
                </div>
                <span class="subtitle" >New Username:</span>
                <InputText @bind-Value="_newUserName" class="form-control" placeholder="Enter new username" @oninput="HandleInputChange" />
            </div>
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <span style="color:red;">@ErrorMessage</span>
            }
        </div>
    </Body>
    <Footer>
        <RectButton2 Text="Cancel" DataDismiss="modal"> </RectButton2>
        <RectButton1 Text="Save Changes" DataDismiss="modal" OnClick="()=>{RenameUsername();}"> </RectButton1>
    </Footer>
</PopUpLayout>
