@rendermode InteractiveServer

@using CineSync.Components.Buttons;
@using CineSync.Components.Utils

<PopUpLayout @ref=PopUpLayout Id="editUsernameModal">
    <Header>
        <img style="width: 40px; height: 40px;" src="changeUsername.png" alt="changeText"/>
        <div class="title">Edit Username</div>
    </Header>
    <Body>
        <div class="modal-body">
            <StateMessage message="@ErrorMessage" />
            <div class="form-container">
                <div class="form-floating mb-3 prevent-select">
                    <span class="form-control prevent-select" style="font-size: 1.3rem; background-color: #bfbfbf">@AuthenticatedUser</span>
                    <label for="currentName" class="form-label prevent-select text-black">Current Username</label>
                </div>
                <div class="form-floating mb-3 prevent-select">
                    <InputText @bind-Value="_newUserName" class="form-control" placeholder="Enter new username" @oninput="HandleInputChange"/>
                    <label for="newUsername" class="form-label text-black">New Username</label>
                </div>
            </div>
        </div>
    </Body>
    <Footer>
        <RectButton2 Text="Cancel" DataDismiss="modal"> </RectButton2>
        <RectButton1 Text="Save Changes" OnClick="() => { RenameUsername(); _newUserName = string.Empty; }"> </RectButton1>
    </Footer>
</PopUpLayout>