.title {
    font-size: 24px;
    color: white;
}

.subtitle {
    font-size: 18px;
    color: white;
}

#actualUsername {
    font-size: 24px;
    color: white;
    margin-left:10px;
    margin-bottom:10px;
}

#actual {
    margin-bottom:20px;
}
