@rendermode InteractiveServer
@using CineSync.Data.Models;
@using CineSync.Components.Buttons;

<PopUpLayout Id="editUsernameModal">
    <Header>
        <div class="title">Add to colection</div>
    </Header>
    <Body>
        <div class="modal-body bg-dark text-white">
            <form>
                <div class="form-group">
                    <p>Username:<span style="color:white;">@ActualUserName</span></p>
                    <label for="newUsername">New Username:</label>
                    <input type="text" class="form-control" id="newUsername" @bind="@ActualUserName" @bind:after="SearchAsync" placeholder="Enter your new username">
                </div>
            </form>
        </div>
    </Body>
    <Footer>
        <RectButton1 Text="Save changes"  DataDismiss="modal"> </RectButton1>
        @*         <button @onclick="OnSave" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button> *@
    </Footer>
</PopUpLayout>