@rendermode InteractiveServer
@using CineSync.Data.Models;
@using CineSync.Components.Buttons;

<PopUpLayout Id="trailerModal">
    <Header>
        <div class="title">Watch Trailer</div>
    </Header>
    <Body>
        <div class="modal-body">
            <iframe id="trailerVideo" src="@TrailerLink" width="800" height="400" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </Body>
    <Footer>
        <RectButton1 Text="Close" DataDismiss="modal"> </RectButton1>
    </Footer>
</PopUpLayout>
