<div class="navbar">
    <div class="navbar-left">
       
        <div class="navbar-item-conteiner" >
            <svg class="menuButton" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 50V41.6667H50V50H0ZM0 29.1667V20.8333H50V29.1667H0ZM0 8.33333V0H50V8.33333H0Z" />
            </svg>
        </div>
        
        <NavLink href="/">
            <div class="home-button">
                <div class="navbar-item-conteiner">
                    <img class="Minilogo" src="MiniLogo.png" alt=" CineSync MiniLogo">
                </div>
                <div class="navbar-item-conteiner navbar-title">CineSync</div>
            </div>
        </NavLink>
        
    </div>
    <div class="navbar-rigth">

        <div class="navbar-item-conteiner">
            <NavLink href="/Account/Login">
                <button class="login-button">Login</button>
            </NavLink>
        </div>

        @if (hasSearch)
        {
            <div class="navbar-item-conteiner">
                <NavSearch></NavSearch>
            </div>
        }

    </div>
</div>