@page "/Comments"

<div class="containder">
	<div class="head">
		<h1>Post Comment</h1>
		<div><span id="comment">0</span> Comments</div>
		<div class=" comments"></div>
		<div class="commentBox">
			<img src="/logo.png" />
			<div class="content">
				<h2>Comment as:</h2>
				<input type="text" class="user" value="Anonymous">
				<div class="commentInput">
					<input type="text" placeholder="Enter Comment" class="userComment">
					<div class="buttons">
						<button type="submit" disable id="publish">Publish</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
