@page "/Account/RegisterConfirmation"
@rendermode InteractiveServer

@using CineSync.Components.Buttons
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation

<div class="page">
    <div class="main-content">
        <div class="form-container">
            <h2 class="text-center text-white">Thank you for Registering!</h2>
            <hr class="text-white"/>
            <p class="text-white">Please check your email to confirm your account. Once you have confirmed your account, you will be able to log in.</p>
            <p class="text-white">If you didn't receive an email, <a href="@ResendLink">click here to resend</a>.</p>
            <div class="logo-container-main">
                <div class="logo-container" @onclick="GoHome">
                    <img id="logo" src="../logo.png" alt="CineSync Main Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <RectButton1 Text="Home" OnClick="GoHome"/>
            </div>
        </div>
    </div>
</div>

@code {
    private string? email;
    private string? returnUrl;

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("email", out var emailParam))
        {
            email = emailParam;
        }

        if (query.TryGetValue("returnUrl", out var returnUrlParam))
        {
            returnUrl = returnUrlParam;
        }
    }

    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }

    private string ResendLink => QueryHelpers.AddQueryString("/Account/ResendEmailConfirmation", new Dictionary<string, string?>
    {
        { "email", email },
        { "returnUrl", returnUrl }
    });

}