@page "/Account/RegisterConfirmation"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation

<PageTitle>Register Confirmation</PageTitle>

<div class="page">
    <div class="main-content">
        <div class="form-container">
            <h2>Thank you for registering!</h2>
            <p>Please check your email to confirm your account. Once you have confirmed your account, you will be able to log in.</p>
            <p>If you didn't receive an email, <a href="@ResendLink">click here to resend</a>.</p>
    <div class="logo-container-main">
        <div class="logo-container">
            <img id="logo" src="../logo.png" alt="CineSync Main Logo">
        </div>
    </div>
        </div>
    </div>
</div>

@code {
    private string? email;
    private string? returnUrl;

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("email", out var emailParam))
        {
            email = emailParam;
        }

        if (query.TryGetValue("returnUrl", out var returnUrlParam))
        {
            returnUrl = returnUrlParam;
        }
    }

    private string ResendLink => QueryHelpers.AddQueryString("/Account/ResendEmailConfirmation", new Dictionary<string, string?>
    {
        { "email", email },
        { "returnUrl", returnUrl }
    });
}