@page "/Account/ResetPasswordConfirmation"

@rendermode InteractiveServer

@using CineSync.Components.Buttons

@inject NavigationManager Navigation

<div class="page">
    <div class="main-content">
        <div class="form-container">
            <h1 class="text-center text-white">Reset password confirmation</h1>
            <hr class="text-white"/>
            <p class="text-center text-white" style="font-size: 1.2rem">
                Your password has been reset. Please
                <a href="Account/Login">click here to log in</a>.
            </p>
            <div class="logo-container-main">
                <div @onclick="GoHome">
                    <img id="logo" src="../logo.png" alt="CineSync Main Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <RectButton1 Text="Home" OnClick="GoHome"/>
            </div>
        </div>
    </div>
</div>

@code{

    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }

}