
h3 {
    color: #fff;
    position:absolute;
    left:50%;

}
.content-center {
    position:absolute;
    left:50%;
    top: 30%;
}

page {
    background-image: url("BackgorundHome.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 50px;
}

.main-content {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.form-container {
    background-color: rgba(0, 0, 0, 1); /* Black color with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */

    min-width: 500px;
    color: grey;
    outline: auto;
    min-height: 600px;
}

.login-container {
    padding-bottom: 20px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

#logo {
    width: 400px;
}

.logo-container {
    text-align: center;
    display: flex !important;
}

.logo-container-main {
    flex-grow: 1;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/*.login-btn {
    font-family: Itim;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background: linear-gradient(90deg, #4892db 0%, #5f00cc 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 752ms;
    cursor: pointer;
    position: relative;
    left: 35%;
}
    .login:hover {
        background: linear-gradient(90deg, #4892db 0%, #5f00cc 100%);
        color: #000000;
        border: solid 2px #0066cc;
    }*/



.login-btn {
    width: 160px;
    height: 50px;
    border-radius: 15px;
    border: none;
    Background: linear-gradient(0.25Turn, rgb(74, 186, 217) 10%, rgb(208, 6, 247));
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: Itim;
    box-shadow: inset 0 0 10px 2px rgb(0, 0, 0,50);
    border: solid 2px rgb(255,255,255);
}

    .login-btn:hover {
        transition: width 0.1s ease;
        box-shadow: inset 0 0 20px 2px rgb(255, 255, 255,50);
        width: 170px;
        color: black;
    }

.text-center {
    color: white;
}
