.col-md-6 {
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    max-width: 400px;
    width: 100%;
    position:relative;
    align-self:center;
    color: grey;
    outline: auto;
}
h3 {
    color: #fff;
    align-text: center;
    position:absolute;

}
.content-center {
    position:absolute;
    left:50%;
}