<div class="movie-carousel">
 @if (isCarouselActive)
    {
        foreach (var movie in CurrentMovies)
        {
            <div class="movie-item" @onclick="(e) => MovieClickHandler(movie)">
                <MovieAdapterPlace  Movie="movie"/>
            </div>
        }
    }
    else
    {
        foreach (var movie in TopRatedMovies)
        {
            <div class="movie-item" @onclick="(e) => MovieClickHandler(movie)">
                <MovieAdapterPlace  Movie="movie"/>
            </div>
        }
    }
</div>
<script src="js/site.js"></script>
