.movie-carousel {
    display: flex;
    width: 100%;
}

.movie-item {
    flex: 0 0 20%;
    transition: transform 1s, opacity 1s;
    animation: slide-fade-in-out 5s infinite linear;
    height: auto;
    width: auto;
}

@keyframes slide-fade-in-out {

    0%,
    100% {
        transform: translateX(100%);
        opacity: 0;
    }

    10%,
    90% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 1600px) {
    .movie-carousel {
        flex-wrap: wrap;
        justify-content: center;
    }

    .movie-item {
        flex: 0 0 33.33%;
        transition: none;
        animation: none;
    }
}

@media only screen and (max-width: 600px) {
    .movie-carousel {
        flex-wrap: wrap;
        justify-content: center;
    }

    .movie-item {
        flex: 0 0 33.33%;
        transition: none;
        animation: none;
    }
}
