<div class="movieplace" style="width:@(Width)px; max-width:@(Width)px; min-width:@(Width)px; max-height:@(Heigth)px; min-height:@(Heigth)px ">


        @if( Movie.PosterImage != null)
        {
        <div class="movie-image-conteiner">
            <div class="PosterImage Conteiner">
                    <img id="PosterImage" src="@($"data:image/jpeg;base64,{MoviePosterBase64}")"
                        style=" width:@(Width - 50)px; height:@(Heigth -50)px"
                    >

                    @if (UseHoverTitle)
                    {
                    <div class="hovertitle movie-Title-conteiner" style=" width:@(Width - 50)px; height:@(Heigth -50)px; max-height:@(Heigth - 50)px;">
                            @Movie.Title
                        </div>
                    }
            </div>
        </div>
        }
        else
        {
            <div class="NoFoundImage-container">

                <div class="movie-Title-conteiner">
                    <div class="movie-Title" style="max-height:@(Heigth - 50)px;">
                        @Movie.Title
                    </div>
                </div>
                <div class="NoFoundImage-container" >
                    <img id="NoFoundImage" src="SoryNotFound.png" style="width:@(Width*0.4)px; height:@(Width*0.25)px">
                    No image found.
                </div>

            </div>
        }


    <div class="movie-description">

        @if (UseIMDBRating || UseRatingCs)
        {
            <div class="rating-description">

                @if(UseIMDBRating)
                {
                    <div class="rating-item">
                        <div class="font-rating">IMDB</div>
                        <div class="font-rating-result">9.9</div>
                        <div class="rating-icon">
                            <svg id="IMDBRating" width="10" height="10" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--star-inline" viewBox="0 0 24 24" fill="yellow" role="presentation"><path d="M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z"></path></svg>
                        </div>
                    </div>
                }

                @if (UseRatingCs)
                {
                    <div class="rating-item rating-item-last">
                        <div class="font-rating">CS</div>
                        <div class="font-rating-result">9.9</div>
                        <div class="rating-icon">
                            <img class="CsRating" src="CsRating.png" alt="Alternate Text" />
                        </div>
                    </div>
                }

            </div>
        }

        @if (UseTitle)
        {
            <div class="movie-Title-conteiner">
                <div class="movie-Title" style="max-height:@(Heigth - 50)px;">
                    @Movie.Title
                </div>
            </div>
        }

    </div>

</div>
